/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.logo img {
    height: 60px; /* Adjust the height as needed */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #ccc; /* Change the color to a different shade of white */
    margin: 0 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: #999; /* Change the hover color accordingly */
}

/* ... (other styles) */

.matrix-section {
    position: relative;
    overflow: hidden;
    color: white;
    height: calc(100vh - 120px); /* Subtract the footer height */
    display: flex;
    align-items: center;
    justify-content: center;
}

#matrix-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.matrix-text {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.project-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: left;
    color: #333; /* Change the text color to a darker color */
    margin-top: 20px;
}

.profile-section {
    background-color: #111; /* Darker black for better contrast */
    padding: 40px 0;
    color: #fff;
}

.profile-card {
    background-color: rgba(0, 0, 0, 0.5); /* Slightly transparent black */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

.profile-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
